[submodule "external_libraries/JoltPhysics"]
	path = external_libraries/JoltPhysics
	url = git@github.com:jrouwe/JoltPhysics.git
[submodule "assets"]
	path = assets
	url = git@github.com:cpp-toolbox/assets.git
[submodule "clang_formatting"]
	path = clang_formatting
	url = git@github.com:cpp-toolbox/clang_formatting.git
[submodule "src/graphics/window"]
	path = src/graphics/window
	url = git@github.com:cpp-toolbox/window.git
[submodule "src/graphics/shader_pipeline"]
	path = src/graphics/shader_pipeline
	url = git@github.com:cpp-toolbox/shader_pipeline.git
[submodule "src/graphics/textured_model_loading"]
	path = src/graphics/textured_model_loading
	url = git@github.com:cpp-toolbox/textured_model_loading.git
[submodule "src/interaction/camera"]
	path = src/interaction/camera
	url = git@github.com:cpp-toolbox/camera.git
[submodule "src/interaction/physics"]
	path = src/interaction/physics
	url = git@github.com:cpp-toolbox/physics.git
[submodule "src/interaction/mouse"]
	path = src/interaction/mouse
	url = git@github.com:cpp-toolbox/mouse.git
[submodule "src/graphics/physics_debug_renderer"]
	path = src/graphics/physics_debug_renderer
	url = git@github.com:cpp-toolbox/physics_debug_renderer.git
[submodule "src/game_loop"]
	path = src/game_loop
	url = git@github.com:cpp-toolbox/game_loop.git
[submodule "src/math"]
	path = src/math
	url = git@github.com:cpp-toolbox/math.git
[submodule "sbpt"]
	path = sbpt
	url = git@github.com:cpp-toolbox/sbpt.git
[submodule "src/utils/stopwatch"]
	path = src/utils/stopwatch
	url = git@github.com:cpp-toolbox/stopwatch.git
[submodule "src/graphics/shaders"]
	path = src/graphics/shaders
	url = git@github.com:cpp-toolbox/shaders.git
